@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* ### Primary */

  --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);

  /* ### Neutral */
  --Darkgray: hsl(0, 0%, 59%);
  --family: "Kumbh Sans", sans-serif;
}
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Darkcyan);
  padding: 0rem 2rem;
  font-family: var(--family);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: right 50vw bottom 50vw, left 50vw top 50vw;
  background-repeat: no-repeat no-repeat;
  overflow-x: hidden;
}

/* mobile_first */

/* main section */
main {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--Verydarkdesaturatedblue);
}
.name span {
  color: var(--Darkgray);
  font-weight: 100;
}
.city {
  margin-top: 0.5rem;
  color: var(--Darkgray);
  font-size: 1rem;
  font-weight: 100;
}

.container {
  width: 100%;
  max-width: 22rem;
  background-color: #ffff;
  padding: 3rem 0rem 1.5rem 0rem;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 155px;
  background-image: url(../images/bg-pattern-card.svg);
  border-radius: 10px 10px 0px 0px;
}
.img_section {
  display: grid;
  place-items: center;
  border-bottom: 1px solid var(--Darkgray);
  padding-top: 50px;
  padding-bottom: 20px;
}
.victor {
  z-index: 1;
  width: 6rem;
  border: 7px solid #fff;
  border-radius: 50%;
}
.followers_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 2rem 0rem 2rem;
}
.followers_section li {
  font-size: 1.3rem;
  color: var(--Verydarkdesaturatedblue);
  list-style: none;
  font-weight: bold;
}
.followers_section li span {
  color: var(--Darkgray);
  font-weight: 100;
  font-size: 1rem;
  display: block;
  margin-top: 0.3rem;
}
/*end of main section */
/* footer section */

.attribution {
  font-size: 20px;
  text-align: center;
  /* transform: translateY(100%); */
  color: #fff;
}
.attribution a {
  color: #fff;
}
/* footer section */

@media (min-width: 1440px) {
  body {
    background-position: left -100% top 200%, right -100% bottom 200%;
  }
}
